.fondo__principal{
    background-image: url(../Eleton-Resort/imagenes/principal_eleton.jpg);
background-repeat: no-repeat;
background-size: 100% 100vh;
}
.fondo__habitaciones{
    background-image: url(../Eleton-Resort/imagenes/habitacion-fondo.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.fondo__servicios{
    background-image: url(../Eleton-Resort/imagenes/pileta-spa-chiquita.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.fondo__gastronomia{
    background-image: url(../Eleton-Resort/imagenes/fondogastronomia.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.fondo__contacto{
    background-image: url(../Eleton-Resort/imagenes/lobby1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}